In [24]:
import pandas as pd

In [25]:
import os, platform, time, urllib.request, openpyxl, operator
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from openpyxl import Workbook
import sys, requests, re, json
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [26]:
table_1 = pd.read_csv(r'official_influencers.csv')
table_1

,ranking,username,alias,categories,engagement,followers
0,1,@gessicakayane,gessicakayane,"['Humor', 'Celebrities', 'Animals & Pets']",2.00,15.2
1,2,@andressasuita,andressasuita,"['Modeling', 'Celebrities', 'Animals & Pets', ...",2.19,15.7
2,3,@leonardo,leonardo,['Music'],1.00,15.9
3,4,@taina,taina,"['Marketing and Advertising', 'Modeling']",3.07,16.1
4,5,@cocielo,cocielo,"['Celebrity', 'Actors', 'Comedy', 'Humor']",2.40,16.8
5,6,@jujusalimeni,jujusalimeni,"['Art', 'Modeling']",0.20,17.2
6,7,@lexa,lexa,"['Music', 'Singer', 'Celebrities', 'Film, Musi...",0.23,18.1
7,8,@flaviapavanelli,flaviapavanelli,"['Marketing and Advertising', 'Lifestyle', 'Ac...",0.80,18.4
8,9,@luvadepedreiro,luvadepedreiro,"['Comedy', 'Humor']",9.13,18.6
9,10,@kjapa,kjapa,['Actors'],6.90,19.0
10,11,@camilaqueiroz,camilaqueiroz,"['Art', 'Actors']",0.30,18.8
11,12,@marimaria,marimaria,"['Beauty', 'Art', 'Styling', 'Artist']",1.60,19.0
12,13,@rafaavitti,rafaavitti,"['Actors', 'Celebrities', 'Animals & Pets', 'T...",0.63,19.3
13,14,@zefelipecantor,zefelipecantor,"['Art', 'Songwriting']",3.30,19.6
14,15,@caiocastro,caiocastro,"['Art', 'Surfing', 'Actors']",0.20,20.1
15,16,@mirella,mirella,['Marketing and Advertising'],4.30,20.3
16,17,@tirullipa,tirullipa,['Humor'],0.50,21.4
17,18,@fernandasouzaoficial,fernandasouzaoficial,"['Art', 'Singer', 'Actors', 'Music']",0.40,21.7
18,19,@brunogagliasso,brunogagliasso,"['Celebrity', 'Actors', 'Celebrities', 'Humor']",0.18,21.7
19,20,@pefabiodemelo,pefabiodemelo,['Lifestyle'],1.00,22.1
20,21,@rafakalimann,rafakalimann,['Modeling'],1.00,22.4
21,22,@viihtube,viihtube,"['Art', 'Modeling', 'Lifestyle', 'Celebrities'...",2.39,24.6
22,23,@gioewbank,gioewbank,"['Celebrity', 'Modeling', 'Actors']",4.00,25.7
23,24,@kevinho,kevinho,"['Art', 'Music', 'Singer']",0.15,28.0
24,25,@juliette,juliette,['Artist'],0.80,33.8
25,26,@virginia,virginia,"['Art', 'Modeling', 'Humor', 'Celebrities', 'F...",2.50,38.6
26,27,@larissamanoela,larissamanoela,"['Celebrity', 'Art', 'Music', 'Actors']",0.20,45.7
27,28,@tatawerneck,tatawerneck,"['Actors', 'Artist']",0.40,53.0
28,29,@whinderssonnunes,whinderssonnunes,"['Celebrity', 'Comedy', 'Comedian']",0.70,58.4
29,30,@anitta,anitta,"['Art', 'Music', 'Singer']",0.70,63.3

In [27]:
table_1.dtypes

ranking         int64
username       object
alias          object
categories     object
engagement    float64
followers     float64
dtype: object

In [28]:
table_1.set_index("ranking", inplace=True)
table_1

,username,alias,categories,engagement,followers
ranking,,,,,
1,@gessicakayane,gessicakayane,"['Humor', 'Celebrities', 'Animals & Pets']",2.00,15.2
2,@andressasuita,andressasuita,"['Modeling', 'Celebrities', 'Animals & Pets', ...",2.19,15.7
3,@leonardo,leonardo,['Music'],1.00,15.9
4,@taina,taina,"['Marketing and Advertising', 'Modeling']",3.07,16.1
5,@cocielo,cocielo,"['Celebrity', 'Actors', 'Comedy', 'Humor']",2.40,16.8
6,@jujusalimeni,jujusalimeni,"['Art', 'Modeling']",0.20,17.2
7,@lexa,lexa,"['Music', 'Singer', 'Celebrities', 'Film, Musi...",0.23,18.1
8,@flaviapavanelli,flaviapavanelli,"['Marketing and Advertising', 'Lifestyle', 'Ac...",0.80,18.4
9,@luvadepedreiro,luvadepedreiro,"['Comedy', 'Humor']",9.13,18.6
10,@kjapa,kjapa,['Actors'],6.90,19.0
11,@camilaqueiroz,camilaqueiroz,"['Art', 'Actors']",0.30,18.8
12,@marimaria,marimaria,"['Beauty', 'Art', 'Styling', 'Artist']",1.60,19.0
13,@rafaavitti,rafaavitti,"['Actors', 'Celebrities', 'Animals & Pets', 'T...",0.63,19.3
14,@zefelipecantor,zefelipecantor,"['Art', 'Songwriting']",3.30,19.6
15,@caiocastro,caiocastro,"['Art', 'Surfing', 'Actors']",0.20,20.1
16,@mirella,mirella,['Marketing and Advertising'],4.30,20.3
17,@tirullipa,tirullipa,['Humor'],0.50,21.4
18,@fernandasouzaoficial,fernandasouzaoficial,"['Art', 'Singer', 'Actors', 'Music']",0.40,21.7
19,@brunogagliasso,brunogagliasso,"['Celebrity', 'Actors', 'Celebrities', 'Humor']",0.18,21.7
20,@pefabiodemelo,pefabiodemelo,['Lifestyle'],1.00,22.1
21,@rafakalimann,rafakalimann,['Modeling'],1.00,22.4
22,@viihtube,viihtube,"['Art', 'Modeling', 'Lifestyle', 'Celebrities'...",2.39,24.6
23,@gioewbank,gioewbank,"['Celebrity', 'Modeling', 'Actors']",4.00,25.7
24,@kevinho,kevinho,"['Art', 'Music', 'Singer']",0.15,28.0
25,@juliette,juliette,['Artist'],0.80,33.8
26,@virginia,virginia,"['Art', 'Modeling', 'Humor', 'Celebrities', 'F...",2.50,38.6
27,@larissamanoela,larissamanoela,"['Celebrity', 'Art', 'Music', 'Actors']",0.20,45.7
28,@tatawerneck,tatawerneck,"['Actors', 'Artist']",0.40,53.0
29,@whinderssonnunes,whinderssonnunes,"['Celebrity', 'Comedy', 'Comedian']",0.70,58.4
30,@anitta,anitta,"['Art', 'Music', 'Singer']",0.70,63.3

In [29]:
table_1['followerss'] = 'Null'
table_1['following'] = 'Null'
table_1['post'] = 'Null'

In [30]:
table_1

,username,alias,categories,engagement,followers,followerss,following,post
ranking,,,,,,,,
1,@gessicakayane,gessicakayane,"['Humor', 'Celebrities', 'Animals & Pets']",2.00,15.2,Null,Null,Null
2,@andressasuita,andressasuita,"['Modeling', 'Celebrities', 'Animals & Pets', ...",2.19,15.7,Null,Null,Null
3,@leonardo,leonardo,['Music'],1.00,15.9,Null,Null,Null
4,@taina,taina,"['Marketing and Advertising', 'Modeling']",3.07,16.1,Null,Null,Null
5,@cocielo,cocielo,"['Celebrity', 'Actors', 'Comedy', 'Humor']",2.40,16.8,Null,Null,Null
6,@jujusalimeni,jujusalimeni,"['Art', 'Modeling']",0.20,17.2,Null,Null,Null
7,@lexa,lexa,"['Music', 'Singer', 'Celebrities', 'Film, Musi...",0.23,18.1,Null,Null,Null
8,@flaviapavanelli,flaviapavanelli,"['Marketing and Advertising', 'Lifestyle', 'Ac...",0.80,18.4,Null,Null,Null
9,@luvadepedreiro,luvadepedreiro,"['Comedy', 'Humor']",9.13,18.6,Null,Null,Null
10,@kjapa,kjapa,['Actors'],6.90,19.0,Null,Null,Null
11,@camilaqueiroz,camilaqueiroz,"['Art', 'Actors']",0.30,18.8,Null,Null,Null
12,@marimaria,marimaria,"['Beauty', 'Art', 'Styling', 'Artist']",1.60,19.0,Null,Null,Null
13,@rafaavitti,rafaavitti,"['Actors', 'Celebrities', 'Animals & Pets', 'T...",0.63,19.3,Null,Null,Null
14,@zefelipecantor,zefelipecantor,"['Art', 'Songwriting']",3.30,19.6,Null,Null,Null
15,@caiocastro,caiocastro,"['Art', 'Surfing', 'Actors']",0.20,20.1,Null,Null,Null
16,@mirella,mirella,['Marketing and Advertising'],4.30,20.3,Null,Null,Null
17,@tirullipa,tirullipa,['Humor'],0.50,21.4,Null,Null,Null
18,@fernandasouzaoficial,fernandasouzaoficial,"['Art', 'Singer', 'Actors', 'Music']",0.40,21.7,Null,Null,Null
19,@brunogagliasso,brunogagliasso,"['Celebrity', 'Actors', 'Celebrities', 'Humor']",0.18,21.7,Null,Null,Null
20,@pefabiodemelo,pefabiodemelo,['Lifestyle'],1.00,22.1,Null,Null,Null
21,@rafakalimann,rafakalimann,['Modeling'],1.00,22.4,Null,Null,Null
22,@viihtube,viihtube,"['Art', 'Modeling', 'Lifestyle', 'Celebrities'...",2.39,24.6,Null,Null,Null
23,@gioewbank,gioewbank,"['Celebrity', 'Modeling', 'Actors']",4.00,25.7,Null,Null,Null
24,@kevinho,kevinho,"['Art', 'Music', 'Singer']",0.15,28.0,Null,Null,Null
25,@juliette,juliette,['Artist'],0.80,33.8,Null,Null,Null
26,@virginia,virginia,"['Art', 'Modeling', 'Humor', 'Celebrities', 'F...",2.50,38.6,Null,Null,Null
27,@larissamanoela,larissamanoela,"['Celebrity', 'Art', 'Music', 'Actors']",0.20,45.7,Null,Null,Null
28,@tatawerneck,tatawerneck,"['Actors', 'Artist']",0.40,53.0,Null,Null,Null
29,@whinderssonnunes,whinderssonnunes,"['Celebrity', 'Comedy', 'Comedian']",0.70,58.4,Null,Null,Null
30,@anitta,anitta,"['Art', 'Music', 'Singer']",0.70,63.3,Null,Null,Null

In [31]:
#function to scrape general information
def scrape_general_info(url):
    # instagram URL 
    URL = url

    # creating a dictionary 
    data = {} 

    # getting the request from url 
    r = requests.get(URL)

    # converting the text 
    s = BeautifulSoup(r.text, "html.parser") 

    # finding meta info 
    meta = s.find("meta", property ="og:description")

    #searching followers, followeing and number of posts info
    meta_2 = meta.attrs['content']
    meta_3 = meta_2.split("-")[0].split(" ")

    # assigning the values 
    data['Followers'] = meta_3[0] 
    data['Following'] = meta_3[2] 
    data['Posts'] = meta_3[4]
    
    return data

In [32]:
i = 0
for name in table_1['alias']:
    # user name 
    url = f"https://www.instagram.com/{name}/"

    # calling scrape function
    try:
        data = scrape_general_info(url)
        table_1.loc[i, 'followerss'] = data['Followers']
        table_1.loc[i, 'following'] = data['Following']
        table_1.loc[i, 'post'] = data['Posts']
        i += 1
    except:
        i += 1
        continue

In [33]:
table_1

,username,alias,categories,engagement,followers,followerss,following,post
ranking,,,,,,,,
1,@gessicakayane,gessicakayane,"['Humor', 'Celebrities', 'Animals & Pets']",2.00,15.2,16M,"1,862","3,454"
2,@andressasuita,andressasuita,"['Modeling', 'Celebrities', 'Animals & Pets', ...",2.19,15.7,18M,152,"2,295"
3,@leonardo,leonardo,['Music'],1.00,15.9,17M,"2,011",967
4,@taina,taina,"['Marketing and Advertising', 'Modeling']",3.07,16.1,20M,"1,941","1,926"
5,@cocielo,cocielo,"['Celebrity', 'Actors', 'Comedy', 'Humor']",2.40,16.8,19M,"1,063","9,753"
6,@jujusalimeni,jujusalimeni,"['Art', 'Modeling']",0.20,17.2,19M,"1,353","7,940"
7,@lexa,lexa,"['Music', 'Singer', 'Celebrities', 'Film, Musi...",0.23,18.1,20M,"1,215","3,154"
8,@flaviapavanelli,flaviapavanelli,"['Marketing and Advertising', 'Lifestyle', 'Ac...",0.80,18.4,20M,347,15
9,@luvadepedreiro,luvadepedreiro,"['Comedy', 'Humor']",9.13,18.6,19M,562,24
10,@kjapa,kjapa,['Actors'],6.90,19.0,21M,"1,118","1,952"
11,@camilaqueiroz,camilaqueiroz,"['Art', 'Actors']",0.30,18.8,21M,"1,109","3,243"
12,@marimaria,marimaria,"['Beauty', 'Art', 'Styling', 'Artist']",1.60,19.0,21M,"2,329","2,981"
13,@rafaavitti,rafaavitti,"['Actors', 'Celebrities', 'Animals & Pets', 'T...",0.63,19.3,26M,759,"1,031"
14,@zefelipecantor,zefelipecantor,"['Art', 'Songwriting']",3.30,19.6,21M,594,"2,104"
15,@caiocastro,caiocastro,"['Art', 'Surfing', 'Actors']",0.20,20.1,27M,"1,562",817
16,@mirella,mirella,['Marketing and Advertising'],4.30,20.3,30M,"1,477",10K
17,@tirullipa,tirullipa,['Humor'],0.50,21.4,22M,"1,927","6,137"
18,@fernandasouzaoficial,fernandasouzaoficial,"['Art', 'Singer', 'Actors', 'Music']",0.40,21.7,22M,"4,326","6,146"
19,@brunogagliasso,brunogagliasso,"['Celebrity', 'Actors', 'Celebrities', 'Humor']",0.18,21.7,27M,658,"6,312"
20,@pefabiodemelo,pefabiodemelo,['Lifestyle'],1.00,22.1,23M,"3,342","1,558"
21,@rafakalimann,rafakalimann,['Modeling'],1.00,22.4,26M,"1,348","3,325"
22,@viihtube,viihtube,"['Art', 'Modeling', 'Lifestyle', 'Celebrities'...",2.39,24.6,31M,"2,185","7,089"
23,@gioewbank,gioewbank,"['Celebrity', 'Modeling', 'Actors']",4.00,25.7,29M,"1,033",481
24,@kevinho,kevinho,"['Art', 'Music', 'Singer']",0.15,28.0,33M,"1,915","1,090"
25,@juliette,juliette,['Artist'],0.80,33.8,42M,442,"1,944"
26,@virginia,virginia,"['Art', 'Modeling', 'Humor', 'Celebrities', 'F...",2.50,38.6,50M,"2,666","5,390"
27,@larissamanoela,larissamanoela,"['Celebrity', 'Art', 'Music', 'Actors']",0.20,45.7,57M,"2,488","5,637"
28,@tatawerneck,tatawerneck,"['Actors', 'Artist']",0.40,53.0,61M,"1,892","2,787"
29,@whinderssonnunes,whinderssonnunes,"['Celebrity', 'Comedy', 'Comedian']",0.70,58.4,66M,"3,061","5,205"
30,@anitta,anitta,"['Art', 'Music', 'Singer']",0.70,63.3,Null,Null,Null
0,NaN,NaN,NaN,NaN,NaN,21M,894,"2,821"