In [2]:
import pandas as pd

In [3]:
import os, platform, time, urllib.request, openpyxl, operator
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from openpyxl import Workbook
import sys, requests, re, json
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
table_1 = pd.read_csv(r'test_table_insta.csv')
table_1

,ranking,alias,categories,engagement,followers
0,1,cristiana.ayres,"['Humor', 'Celebrities', 'Animals & Pets']",2,316

In [6]:
table_1.dtypes

ranking        int64
alias         object
categories    object
engagement     int64
followers      int64
dtype: object

In [7]:
table_1.set_index("ranking", inplace=True)
table_1

,alias,categories,engagement,followers
ranking,,,,
1,cristiana.ayres,"['Humor', 'Celebrities', 'Animals & Pets']",2,316

In [8]:
table_1['followerss'] = 'Null'
table_1['following'] = 'Null'
table_1['post'] = 'Null'

In [9]:
table_1

,alias,categories,engagement,followers,followerss,following,post
ranking,,,,,,,
1,cristiana.ayres,"['Humor', 'Celebrities', 'Animals & Pets']",2,316,Null,Null,Null

In [10]:
#function to scrape general information
def scrape_general_info(url):
    # instagram URL 
    URL = url

    # creating a dictionary 
    data = {} 

    # getting the request from url 
    r = requests.get(URL)

    # converting the text 
    s = BeautifulSoup(r.text, "html.parser") 

    # finding meta info 
    meta = s.find("meta", property ="og:description")

    #searching followers, followeing and number of posts info
    meta_2 = meta.attrs['content']
    meta_3 = meta_2.split("-")[0].split(" ")

    # assigning the values 
    data['Followers'] = meta_3[0] 
    data['Following'] = meta_3[2] 
    data['Posts'] = meta_3[4]
    
    return data

In [11]:
i = 0
for name in table_1['alias']:
    # user name 
    url = f"https://www.instagram.com/{name}/"

    # calling scrape function
    try:
        data = scrape_general_info(url)
        table_1.loc[i, 'followerss'] = data['Followers']
        table_1.loc[i, 'following'] = data['Following']
        table_1.loc[i, 'post'] = data['Posts']
        i += 1
    except:
        i += 1
        continue

In [12]:
table_1

,alias,categories,engagement,followers,followerss,following,post
ranking,,,,,,,
1,cristiana.ayres,"['Humor', 'Celebrities', 'Animals & Pets']",2.0,316.0,Null,Null,Null
0,NaN,NaN,NaN,NaN,43,4,2